/* Header.css */
.header {
    display: flex;
    justify-content: space-between;
    align-items: left;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .logo img {
    height: 50px;
  }
  
 
  
 
  
 